name : Postman Collection Workflow

on: 
  push:
    branches: [main]
  workflow_dispatch:
  schedule:
    - cron : 30 02 * * *
    - cron : 00 14 * * *
    - cron : 00 06 * * 1-5 # monday to friday
 
jobs:
  run-postman-tests:
    runs-on: ubuntu-latest

    steps: 
      - name: Checkout the code
        uses: actions/checkout@v6.0.0

      - name: Install Nodejs and npm
        uses: actions/setup-node@v6.0.0
        with:
          node-version: '22'
      - name: Install Newman and Html-extra globally
        run: |
             npm install -g newman
             npm install -g newman-reporter-htmlextra

      - name: Run the Collection with newman
        run: |
             newman run 'Inwarrenty-flow Collection.postman_collection.json' \
             -e QA.postman_environment.json \ 
             -d testdata.csv \
             -r cli,htmlextra
              
          
      
